section {
  position: relative;
  text-align: center;
  max-width: 60rem;
  padding: 0.2rem 0.2rem;
  background-color: rgba(67, 66, 38, 0.659);
  border-radius: 1rem;
  margin-top: 1rem;
}

section li {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  color: rgb(255 255 255);
  padding: 1rem;
  overflow-wrap: anywhere;
  text-align: start;
}
